BusinessRulesEngine/.vs/BusinessRulesEngine/v15/
BusinessRulesEngine/BusinessRulesEngine/obj/
BusinessRulesEngine/BusinessRulesEngine/bin/Debug/netcoreapp2.0/BusinessRulesEngine.deps.json
BusinessRulesEngine/BusinessRulesEngine/bin/
